<h5>{{name}}'s Movies</h5>
<p>Here are your movies</p>
{{#if movies}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td><span class="dash-status">{{status}}</span></td>
            {{!-- <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any movies</p>
{{/if}}